/* Important Css */

.MyNavbar {
  /* */
}

.MyNavbar .Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center !important;
}

.MyNavbar .Navbar-brand a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-decoration: none;
  text-decoration-color: none !important;
  text-decoration: none !important;
  outline: none;
  align-self: center;
}

.MyNavbar .Navbar-brand a p {
  font-size: 1em !important;
  color: black !important;
  font-weight: bold;
  text-transform: uppercase !important;
  text-align: center;
  margin-top: 20px;
}

.MyNavbar .Navbar-brand a img {
  align-self: center;
}
